@model IA.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Register/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Register</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Register", "User"))
                    {
                        <div class="form-row">
                            <div class="name">@Html.LabelFor(m => m.FirstName)</div>
                            <div class="value">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "input--style-6" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">@Html.LabelFor(m => m.LastName)</div>
                            <div class="value">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "input--style-6" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">@Html.LabelFor(m => m.Email)</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "input--style-6", type = "email", placeholder = "example@email.com" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">@Html.LabelFor(m => m.Password)</div>
                            <div class="value">
                                @Html.TextBoxFor(m => m.Password, new { @class = "input--style-6", type = "password" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/Register/vendor/jquery/jquery.min.js"></script>
    <script src="~/Register/js/global.js"></script>

</body>
</html>
